.drum-pad {
    width: 5rem;
    height: 5rem;
    border: 0.1rem solid rgb(114, 97, 67);
    background-color: rgb(128, 110, 77);
    outline: 0;
}
.drum-pad:active {
    background-color: rgb(100, 86, 59);
    /* sync to highlightBkcolor() in DrumPad.js */
}
