.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  /*https://i.pinimg.com/originals/24/96/59/2496595104fe80c762423d44fb5bea01.jpg*/
  background: radial-gradient(circle at 100% 50%, transparent 20%, rgba(255,255,255,.3) 21%, rgba(255,255,255,.3) 34%, transparent 35%, transparent), radial-gradient(circle at 0% 50%, transparent 20%, rgba(255,255,255,.3) 21%, rgba(255,255,255,.3) 34%, transparent 35%, transparent) 0 -50px;
  background-color: slategray;
  background-size: 75px 100px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
header {
  margin-top: 2rem;
  font-size: 3rem;
  color: rgb(41, 40, 40);
}